@"
# Virtual environment
project_venv/
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Django
db.sqlite3
*.log
staticfiles/
media/

recognition/ml_models/*.ipynb

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.env
"@ | Out-File -FilePath .gitignore -Encoding utf8

